
CarSeat_Recognization/CarSeat_Recognization.VC.VC.opendb
CarSeat_Recognization/CarSeat_Recognization.VC.VC.opendb
*.opendb
*.obj
*.log
*.tlog
*.idb
*.pdb
*.ilk
*.pdb
*.pch

*.db
*.db
*.opendb
*.ipch
*.pdb
*.pdb
*.idb
*.obj
*.pch
*.tlog
*.log
*.tlog
*.pdb
*.idb
*.pdb
*.pdb
*.idb
