
*.log
*.tlog
*.pdb
*.ilk
*.pch

*.db
*.pch.codeanalysisast
*.opendb
*.ipch
*.obj
*.idb
*.exe
*.html
*.exp
*.xml
*.jpg
*.codeanalysisast
*.codeanalysis
*.VC.db
CarSeat_recognization/Recognization_module/python
*.xml
