
*.log
*.tlog
*.pdb
*.ilk
*.pch

*.db
*.pch.codeanalysisast
*.opendb
*.ipch
*.obj
*.idb
*.exe
*.html
*.exp
*.xml
*.jpg
*.codeanalysisast
*.codeanalysis
*.VC.db
CarSeat_recognization/Recognization_module/python
*.xml
CarSeat_Recognization/CarSeat_Recognization/trace_log.txt
CarSeat_Recognization/KepServerCom/Release/KepServerCom.iobj
CarSeat_Recognization/KepServerCom/Release/KepServerCom.ipdb
CarSeat_recognization/x64/Release/CarSeat_Recognization.iobj
CarSeat_recognization/x64/Release/CarSeat_Recognization.ipdb
CarSeat_Recognization/Recognization_module/test.py
CarSeat_Recognization/CarSeat_Recognization/20180814_073525.txt
CarSeat_Recognization/CarSeat_Recognization/Log_20180814_211949.txt
CarSeat_Recognization/CarSeat_Recognization/trace_log.txt
CarSeat_Recognization/CarSeat_Recognization/recogResult.txt
CarSeat_Recognization/CarSeat_Recognization/recogResult.txt
CarSeat_Recognization/CarSeat_Recognization/trace_log.txt
CarSeat_Recognization/KepServerCom/Release/KepServerCom.iobj
CarSeat_Recognization/KepServerCom/Release/KepServerCom.ipdb
CarSeat_Recognization/x64/Debug/trace_log.txt
CarSeat_Recognization/Recognization_module/test.py
CarSeat_recognization/x64/Release/CarSeat_Recognization.ipdb
CarSeat_recognization/x64/Release/CarSeat_Recognization.iobj
CarSeat_Recognization/CarSeat_Recognization/Log/Log_20180817_211352.txt
CarSeat_Recognization/CarSeat_Recognization/Log/Log_20180817_211408.txt
